<div class="wrapper">
  <div class="action-list">
    <button>Exit game</button>
    <h2>Action list</h2>
    <div class="labels">
      <label for="">Sort</label>
      <select name="" id="">
        <option value="">none</option>
        <option value="">asc.</option>
        <option value="">desc.</option>
      </select>
      <label for="">Filter</label>
      <select name="" id="">
      <option value="">none</option>
      <option value="">Game started</option>
      <option value="">Game paused</option>
      <option value="">Got 1 point</option>
      <option value="">Game over</option>
      <option value="">desc.</option>

      </select>
    </div>
  </div>
  <ngx-snake
    #game
    [class.black-and-white]="bw"
    (foodEaten)="onGrow()"
    (gameOver)="onGameOver()"
    [ngClass]="{ 'black-and-white': bw }"
  ></ngx-snake>

  <table class="controls">
    <tr>
      <td><button (click)="startGame()">Start</button></td>
      <td><button (click)="onStop()">Stop</button></td>
      <td><button (click)="onReset()">Reset</button></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="game.actionUp()">Up</button></td>
    </tr>
    <tr>
      <td><button (click)="game.actionLeft()">Left</button></td>
      <td></td>
      <td><button (click)="game.actionRight()">Right</button></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="game.actionDown()">Down</button></td>
    </tr>
    <tr style="height: 20px">
      <td></td>
    </tr>
    <tr>
      <td colspan="3">
        <!-- <button *ngIf="!bw" class="bw" (click)="bw = true">Go B/W !</button>
        <button *ngIf="bw" class="colors" (click)="bw = false">
          <span class="green">no, </span>
          <span>back to</span>
          <span class="red">colors</span>
        </button> -->
      </td>
    </tr>
  </table>
  <div class="user-scores">
    <h2>This game status</h2>
    <p class="status">{{ gameStatus }}</p>
    <h2>This game score</h2>
    <p class="score">{{ points }}</p>
    <h2>User Highscores</h2>
    <ol>
      <li *ngFor="let score of scores">
        {{ user?.name }} scored: {{ score.score }} points in {{ score.minutes
        }}{{ " " }}{{ score.seconds }}
      </li>
    </ol>
  </div>
</div>
