.wrapper {
  display: flex;
  gap: 2em;
  .action-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    .labels{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2em;
    }
  }
}

button {
  padding: 0.5em 1em;
  width: 5em;
}
ngx-snake {
  &.black-and-white {
    ngx-snake-tile {
      background: #ffffff;
      &.free {
        div {
          background: #ffffff;
        }
      }

      &.head,
      &.tail,
      &.food,
      &.body {
        div {
          background: #000000;
        }
      }
    }
  }
}
.user-scores {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
