.wrapper {
  margin-top: 10em;
  display: flex;
  gap: 2em;
  .action-list {
    margin: 0 1em;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    .labels {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2em;
    }
    .list {
      height: 200px;
      .moves {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

button {
  padding: 0.5em 1em;
  width: 5em;
}
ngx-snake {
  &.black-and-white {
    ngx-snake-tile {
      background: #ffffff;
      &.free {
        div {
          background: #ffffff;
        }
      }

      &.head,
      &.tail,
      &.food,
      &.body {
        div {
          background: #000000;
        }
      }
    }
  }
}
.user-scores {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 300px;
}

.highscores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
